<div id="<%= dom_id comment %>" class="num_of_comm">
  <p>
    <strong><%= comment.author %>:</strong>
    <%= comment.text %>
    <br>
    <span style="font-size: 14px">
      <% if comment.created_at == comment.updated_at %>
        <%= t ".created_at" %>
      <% else %>
        <%= t ".updated_at" %>
      <% end %>
      <%= l comment.created_at, format: :long %> </span>
  </p>
</div>
