<%= stylesheet_link_tag 'comments_common', media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag 'comments_edit', media: "all", "data-turbolinks-track": "reload" %>

<main style="text-align: center">
  <div class="comment-wrapper">
    <div class="comment">
      <% if @current_user.nickname == @comment.author || @current_user.is_admin %>
          <h1><%= t '.edit_t' %></h1>

          <div style="margin: auto; width: fit-content">
          <%= render "form", comment: @comment %>
          </div>
          <br>
      <% else %>
        <div class="alert alert-danger">
          <%= t '.warning' %>
        </div>
      <% end %>

      <div>
        <%= link_to "#{ t '.comments' }", comments_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
</main>