<%= stylesheet_link_tag 'comments_common', media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag 'comments_index', media: "all", "data-turbolinks-track": "reload" %>

<script>
    function create_form() {
        let comment_place = document.getElementById("comment_place");
        let form = document.createElement("form");
        let text_input = document.createElement("input");
        let submit = document.createElement("input");

        text_input.setAttribute("type", "text");
        text_input.setAttribute("class", "form-control");
        text_input.setAttribute("id", "input");
        text_input.setAttribute("name", "input");

        submit.setAttribute("type", "submit");
        submit.value = "<%= t '.add' %>";
        submit.setAttribute("class", "btn btn-success");

        form.setAttribute("style", "text-align: center;");
        form.setAttribute("id", "comm-enter-form");

        form.appendChild(text_input);
        form.appendChild(document.createElement("br"));
        form.appendChild(submit);
        comment_place.appendChild(document.createElement("br"));
        comment_place.appendChild(form);
    }

    function delete_form() {
        let btn = document.getElementsByClassName("delete-button")[0];
        let form = document.getElementById("comm-enter-form");
        form.remove();
        btn.remove();
    }

    function create_delete_btn() {
        let btn = document.createElement("button");
        let div = document.getElementById("delete-btn-section");

        btn.setAttribute("class", "btn btn-danger delete-button");
        btn.innerText = "<%= t '.remove' %>";
        btn.addEventListener("click", delete_form);
        div.appendChild(btn);
    }

    async function create_comm() {
        let comment_place = document.getElementById("comment_place");
        let pre_responce = await fetch("/comments/new");
        if (!pre_responce.ok) {
            alert("<%= t '.error1' %>" + pre_responce.status);
            comment_place.removeChild(comment_place.lastChild);
            return;
        }

        let comm_text = document.getElementById("input").value;
        let hash = { comment: { text: comm_text }}
        let action_url = 'http://localhost:3000/' + '<%= I18n.locale.to_s %>' + '/comments?text=' + comm_text;
        let comm_place = document.getElementById("comment_place");
        delete_form();

        const token = document.getElementsByName("csrf-token")[0].content;
        let responce = await fetch(action_url, {
            method: 'POST',
            body: JSON.stringify(hash),
            headers: {
                "X-CSRF-Token": token,
                "CONTENT-TYPE": "application/json"
            }
        });
        if (responce.ok) {
            let text = await responce.text();
            let parser = new DOMParser();
            let doc = parser.parseFromString(text, "text/html");
            if (comm_place.children[0]) {
                comm_place.appendChild(document.createElement("hr"));
            }
            comm_place.appendChild(doc.getElementById("comment-content"));
            comm_place.removeChild(comm_place.getElementsByTagName("br")[0]);
        } else {
            alert("<%= t '.error2' %>" + responce.status);
            comment_place.removeChild(comment_place.lastChild);
        }
    }

    function btn_action() {
        if (document.getElementsByClassName("delete-button")[0]) {
            alert("<%= t '.error' %>");
            return;
        }
        create_delete_btn();
        create_form();
        let form = document.getElementById("comm-enter-form");
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            create_comm();
        });
    }
</script>

<main style="font-family: 'Noto Sans', sans-serif;">

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert" style="width: fit-content">
    <%= value %>
  </div>
  <br>
<% end %>
  <div class="post">
  <div class="post-wrapper" style="text-align: center">
  <h1><%= t '.orig' %>:</h1>

  <%= render 'posts/post', post: current_post %>
  </div>
  </div>

<h1 style="margin: auto; width: fit-content"></h1>

<div id="comments">
  <div class="comments-wrapper">
    <h1 style="width: 300px; text-align: center"><%= t '.comms' %></h1>
  <% @comments.each do |comment| %>
    <%= render comment %>
      <div id="new_comment_section"></div>
      <% if !@current_user.nil? && (@current_user.nickname == comment.author || @current_user.is_admin) %>
        <div style="display: flex; flex-direction: row">
          <div style="margin-right: 10px"><%= link_to "#{ t '.edit' }", edit_comment_path(comment), class: 'btn btn-sm btn-info' %></div>
          <div><%= button_to "#{ t '.delete' }", comment, method: :delete, class: 'btn btn-danger btn-sm' %></div>
        </div>
      <% end %>
      <% unless @comments[-1] == comment %>
      <hr style="width: 300px">
      <% end %>
  <% end %>
    <div id="comment_place"></div>
  </div>
</div>

  <br>
  <div style="margin: auto; width: fit-content">
    <button class="btn btn-success" onclick="btn_action()"><%= t '.new' %></button> <br> <br>
    <div id="delete-btn-section" style="text-align: center"></div>
  </div>

</main>