<style>
  main {
  margin: 20px;
  font-family: 'Noto Sans', sans-serif;
  }

  body {
  background: url(<%= image_path 'comments2.png' %>) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  .post {
      background-color: #ADD8E6;
      width: 500px;
      margin: auto;
      border-radius: 10px;
  }

  .post-wrapper {
      width: 450px;
      margin: auto;
  }

  #comments {
      background-color: #7393B3;
      width: 330px;
      border-radius: 10px;
      margin: auto;
      padding: 5px;
  }

  .comments-wrapper {
      width: 300px;
      margin: auto;
      height: fit-content;
  }

  body:after{
  display:none;
  content: url(<%= image_path 'comments2.png' %>);
  }
</style>

<script>
    function create_form() {
        let comment_place = document.getElementById("comment_place");
        let form = document.createElement("form");
        let text_input = document.createElement("input");
        let submit = document.createElement("input");
        let br_elem = document.createElement("br");

        text_input.setAttribute("type", "text");
        text_input.setAttribute("class", "form-control");
        text_input.setAttribute("id", "input");
        text_input.setAttribute("name", "input");

        submit.setAttribute("type", "submit");
        submit.innerText = "Добавить комментарий"
        submit.setAttribute("class", "btn btn-success");

        form.setAttribute("style", "text-align: center;");
        form.setAttribute("id", "comm-enter-form");

        form.appendChild(text_input);
        form.appendChild(br_elem);
        form.appendChild(submit);
        comment_place.appendChild(document.createElement("br"));
        comment_place.appendChild(form);
    }

    function delete_form() {
        let btn = document.getElementsByClassName("delete-button")[0];
        let form = document.getElementById("comm-enter-form");
        form.remove();
        btn.remove();
    }

    function create_delete_btn() {
        let btn = document.createElement("button");
        let div = document.getElementById("delete-btn-section");

        btn.setAttribute("class", "btn btn-danger delete-button");
        btn.innerText = "Убрать форму";
        btn.addEventListener("click", delete_form);
        div.appendChild(btn);
    }

    async function create_comm() {
        let pre_responce = await fetch("/comments/new");
        if (!pre_responce.ok) {
            alert("Что-то пошло не так(1)! Ошибка" + pre_responce.status);
        }

        let comm_text = document.getElementById("input").value;
        let action_url = '/comments?text=' + comm_text;
        let comm_place = document.getElementById("comment_place");
        delete_form();

        let responce = await fetch(action_url, {
            method: 'POST',
        });
        if (responce.ok) {
            let text = await responce.text();
            let parser = new DOMParser();
            let doc = parser.parseFromString(text, "text/html");
            if (comm_place.children[0]) {
                comm_place.appendChild(document.createElement("hr"));
            }
            comm_place.appendChild(doc.getElementById("comment-content"));
            comm_place.removeChild(comm_place.getElementsByTagName("br")[0]);
        } else {
            alert("Что-то пошло не так(2)! Ошибка" + responce.status);
        }
    }

    function btn_action() {
        if (document.getElementsByClassName("delete-button")[0]) {
            alert("Вы можете создавать только один комментарий одновременно!");
            return;
        }
        create_delete_btn();
        create_form();
        let form = document.getElementById("comm-enter-form");
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            create_comm();
        });
    }
</script>

<main>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert" style="width: fit-content">
    <%= value %>
  </div>
  <br>
<% end %>
  <div class="post">
  <div class="post-wrapper" style="text-align: center">
  <h1>Исходный пост:</h1>

  <%= render 'posts/post', post: current_post %>
  </div>
  </div>

<h1 style="margin: auto; width: fit-content"></h1>

<div id="comments">
  <div class="comments-wrapper">
    <h1 style="width: 300px; text-align: center">Комментарии</h1>
  <% @comments.each do |comment| %>
    <%= render comment %>
      <div id="new_comment_section"></div>
      <% if !@current_user.nil? && @current_user.nickname == comment.author %>
        <div style="display: flex; flex-direction: row">
          <div style="margin-right: 10px"><%= link_to "Редактировать", edit_comment_path(comment), class: 'btn btn-sm btn-info' %></div>
          <div><%= button_to "Удалить", comment, method: :delete, class: 'btn btn-danger btn-sm' %></div>
        </div>
      <% end %>
      <% unless @comments[-1] == comment %>
      <hr style="width: 300px">
      <% end %>
  <% end %>
    <div id="comment_place"></div>
  </div>
</div>

  <br>
  <div style="margin: auto; width: fit-content">
    <button class="btn btn-success" onclick="btn_action()">Написать комментарий</button> <br> <br>
    <div id="delete-btn-section" style="text-align: center"></div>
  </div>

</main>