<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Отредактировать", edit_comment_path(@comment) %> |
  <%= link_to "Все комментарии", comments_path %>

  <%= button_to "Удалить комментарий", @comment, method: :delete, class: 'btn btn-danger' %>
</div>
