<%= stylesheet_link_tag "welcome_page", media: "all", "data-turbolinks-track": "reload" %>

<header style="text-align: center; margin-top: 250px" class="welcome">
  <h1>TeamFinder</h1>
  <h3> <%= t '.desc' %> </h3> <br>
  <% if !signed_in? %>
    <%= link_to (t '.enter'), session_login_path, class:"btn btn-primary btn-lg" %> <br> <br>
    <%= link_to (t '.log_in'), new_user_path, class: 'btn btn-success btn-lg' %>
  <% else %>
    <%= link_to "#{t '.go'}", games_path, class:'btn btn-success btn-lg' %>
  <% end %>
</header>