<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3" style="width: 200px;">
    <%= form.label :real_name, "#{ t '.real_name' }", style: "display: block" %>
    <%= form.text_field :real_name, class: "form-control" %>
  </div>

  <div class="mb-3" style="width: 200px;">
    <%= form.label :nickname, "#{ t '.nickname' }", style: "display: block" %>
    <%= form.text_field :nickname, class: "form-control" %>
  </div>

  <div class="mb-3" style="width: 200px;">
    <%= form.label :password, "#{ t '.password' }", style: "display: block" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group" style="width: 200px;">
    <%= form.label :password_conf, "#{ t '.password_conf' }", style: "display: block" %>
    <%= form.password_field :password_conf, class: "form-control" %>
  </div>

  <br>

  <div>
    <% if action_name == 'new' %>
      <%= form.submit "#{ t '.create' }", class:'btn btn-success' %>
    <% else %>
      <%= form.submit "#{ t '.update' }", class:'btn btn-success' %>
    <% end %>
  </div>
<% end %>
