<div id="<%= dom_id user %>">
  <% if action_name == 'show' and @user.nickname == @current_user.nickname %>
  <p>
    <strong><%= t '.real_name' %>:</strong>
    <%= user.real_name %>
  </p>
  <% end %>

  <p>
    <strong><%= t '.nickname' %>:</strong>
    <%= user.nickname %>
  </p>

  <p>
    <strong><%= t '.last_login' %>:</strong>
    <%= l user.last_login, format: :long %>
  </p>
</div>
