<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

    main {
        margin: 20px;
        font-family: 'Noto Sans', sans-serif;
    }
    body {
        background: url(<%= image_path 'form4.png' %>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<main>

  <h1><%= t '.edit_t' %></h1>

  <br>

  <% if @current_user.nickname == @user.nickname %>
    <%= render "form", user: @user %>
  <% else %>
    <div class="alert alert-danger" style="width: fit-content"><%= t '.alert' %></div>
  <% end %>

  <br>

  <div>
    <h5>
      <%= link_to "#{t '.user_i'}", @user, class: 'btn btn-warning' %> <br> <br>
      <%= link_to "#{t '.user_l'}", users_path, class: 'btn btn-warning' %>
    </h5>
  </div>

</main>