<%= stylesheet_link_tag "users_common", media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag "users_index", media: "all", "data-turbolinks-track": "reload" %>

<p style="color: green"><%= notice %></p>

<main>

  <h1><%= t '.users_l' %></h1>

  <div id="users">
    <div class="post">
    <div class="post-wrapper" style="line-height: 200%">
    <% @users.each do |user| %>
      <strong><%= t '.nickname' %></strong>: <%= user.nickname %> <br>
      <strong><%= t '.last_login' %></strong>: <%= l user.last_login, format: :long %>
      <% if user.avatar.attached? %>
          <%= image_tag user.avatar, size: "100", class: "user", style: "border: 2px solid black" %>
      <% else %>
          <%= image_tag 'default_avatar.jpg', size: "100", class: "user", style: "border: 2px solid black" %>
      <% end %>
      <h5><%= link_to "#{t '.user_data'}", user, class: 'btn btn-warning btn-sm' %> </h5>
      <% unless user == @users[-1] %>  <hr> <% end %>
    <% end %>
    </div>
    </div>
  </div>

  <br>

  <h4><%= link_to "#{t '.login_ref'}", session_login_path, class: 'btn btn-info' %></h4>

</main>