<%= stylesheet_link_tag "users_common", media: "all", "data-turbolinks-track": "reload" %>

<main>

  <p style="color: green"><%= notice %></p>

  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, size: "300", class: "user", style: "border: 2px solid black" %>
  <% else %>
    <%= image_tag 'default_avatar.jpg', size: "300", class: "user", style: "border: 2px solid black" %>
  <% end %>
  <%= render @user %>

  <div>
    <h5>
      <%= link_to "#{ t '.edit_t' }", edit_user_path(@user), class: 'btn btn-warning' %> |
      <%= link_to "#{ t '.users' }", users_path, class: 'btn btn-warning' %>
    </h5>

    <br>

    <% if @current_user.nickname == @user.nickname || @current_user.is_admin %>
      <%= button_to "#{ t '.del' }", user_path(@user), method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </div>

</main>