<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

    main {
        margin: 20px;
        font-family: 'Noto Sans', sans-serif;
    }
    body {
        background: url(<%= image_path 'form4.png' %>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<main>

  <p style="color: green"><%= notice %></p>

  <%= render @user %>

  <div>
    <h5>
      <%= link_to "#{ t '.edit_t' }", edit_user_path(@user), class: 'btn btn-warning' %> |
      <%= link_to "#{ t '.users' }", users_path, class: 'btn btn-warning' %>
    </h5>

    <br>

    <% if @current_user.nickname == @user.nickname %>
      <%= button_to "#{ t '.del' }", user_path(@user), method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </div>

</main>