<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3" style="width: 200px;">
    <%= form.label :name, 'Название игры', style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3" style="width: 200px;">
    <%= form.label :picture_ref, 'Изображение игры', style: "display: block;" %>
    <input type="file" id="picture_ref" class="form-control-file">
    <div class="form-text" style="width: 300px">в противном случае будет использовано изображение по умолчанию</div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
