<div id="<%= dom_id game %>">
  <p>
    <strong style="color: white"><%= t '.created_by' %>:</strong>
    <span style="color:white;"><%= game.creator %></span>
  </p>
  <p>
    <strong style="color: white"><%= t '.name' %>:</strong>
    <span style="color: white"><%= game.name %> </span>
  </p>

  <p>
    <strong style="color: white"><%= t '.pic' %>:</strong> <br>
    <% if game.image.attached? %>
      <%= image_tag game.image, style: 'width: 500px;'%>
    <% else %>
      <%= image_tag 'default.jpg', style: 'width: 500px;' %>
    <% end %>
  </p>

</div>
