<div id="<%= dom_id game %>">
  <p>
    <strong>Создана пользователем:</strong>
    <%= game.creator %>
  </p>
  <p>
    <strong>Название:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Изображение:</strong> <br>
    <% if game.image.attached? %>
      <%= image_tag game.image, style: 'width: 500px;'%>
    <% else %>
      <%= image_tag 'default.jpg', style: 'width: 500px;' %>
    <% end %>
  </p>

</div>
