<%= stylesheet_link_tag "games_common", media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag "games_edit_new_show", media: "all", "data-turbolinks-track": "reload" %>

<main>
  <div class="game-wrapper">
      <div class="game">
          <h1><%= t '.edit_t' %></h1>
          <% if @current_user.nickname == @game.creator || @current_user.is_admin %>
            <%= render "form", game: @game %>
          <% else %>
            <div class="alert alert-danger">
              <%= t '.warning' %>
            </div>
          <% end %>
      </div>
  </div>

  <br>

  <div style="text-align: center">
    <%= link_to "#{ t '.show' }", @game, class: 'btn btn-warning' %> |
    <%= link_to "#{ t '.games' }", games_path, class: 'btn btn-warning' %>
  </div>

</main>