<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    main {
        margin: 20px;

        font-family: 'Noto Sans', sans-serif;
    }
    body {
        background: url(<%= image_path 'games_i.png' %>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    body:after{
        display:none;
        content: url(<%= image_path 'games_i.png' %>);
    }

    .game {
        width: 500px;
        margin: auto;
    }

    .game-wrapper {
        width: 550px;
        background-color: #563a63;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin: auto;
    }

    .mb-3 {
        margin: auto;
        width: fit-content;
    }
</style>

<main>

  <div class="game-wrapper">
  <div class="game">
  <h1>Редактирование игры</h1>

  <%= render "form", game: @game %>
  </div>
  </div>

  <br>

  <div style="text-align: center">
    <%= link_to "Show this game", @game %> |
    <%= link_to "Back to games", games_path %>
  </div>

</main>