<%= stylesheet_link_tag "games_common", media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag "games_index", media: "all", "data-turbolinks-track": "reload" %>

<main>

  <div style="width: fit-content; margin: auto;">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert" style="width: fit-content">
      <%= value %>
    </div>
    <br>
  <% end %>
  </div>

  <h2 style="text-align: center"><%= t '.game_list' %></h2>

  <div id="games" class="d-flex flex-column bd-highlight mb-3">
    <% @games.each do |game| %>
      <div class="full-wrapper">
      <div class="main-part">
        <%= link_to posts_path + "?game=#{game.name}" do %>
          <% if game.image.attached? %>
              <%= image_tag game.image, class: 'game' %>
          <% else %>
            <%= image_tag 'default.jpg', class: 'game' %>
          <% end %>
        <% end %>
        <div class="desc-part">
          <div class="desc-text">
            <%= game.name %>
          </div>
        </div>
      </div>
      <div class="link-part">
        <div class="link-text">
          <h3><%= link_to "#{ t '.game_info' }", game, class: 'btn btn-warning' %></h3>
        </div>
      </div>
      </div>
    <% end %>
  </div>

  <% if signed_in? %>
    <h4 style="text-align: center"><%= link_to "#{ t '.add' }", new_game_path, class: 'btn btn-info' %></h4>
  <% end %>
</main>