<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

    main {
        margin: 20px;
        font-family: 'Noto Sans', sans-serif;
    }
    body {
        background: url(<%= image_path 'game_index.jpg' %>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<main>

<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  <%= link_to "Отредактировать игру", edit_game_path(@game) %> |
  <%= link_to "Вернуться к списку игр", games_path %>

  <br> <br>

  <% if @game.creator == @current_user.nickname %>
    <%= button_to "Удалить эту игру", @game, method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>

</main>
