<%= stylesheet_link_tag "games_common", media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag "games_edit_new_show", media: "all", "data-turbolinks-track": "reload" %>

<main style="text-align: center">

<p style="color: green"><%= notice %></p>

  <div class="game-wrapper">
  <div class="game">
<%= render @game %>
  </div>
  </div>

  <br>

  <% if @current_user.nickname == @game.creator || @current_user.is_admin %>
    <%= link_to "#{ t '.edit' }", edit_game_path(@game), class: 'btn btn-warning' %> |
  <% end %>
  <%= link_to "#{ t '.games' }", games_path, class: 'btn btn-warning'%>

  <br> <br>

  <% if @game.creator == @current_user.nickname || @current_user.is_admin %>
    <%= button_to "#{ t '.delete' }", @game, method: :delete, class: 'btn btn-danger' %>
  <% end %>

</main>
