<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

    main {
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
    }
    body {
        background: url(<%= image_path 'games_i.png' %>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .game {
        width: 500px;
        margin: auto;
    }

    .game-wrapper {
        width: 550px;
        background-color: #563a63;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin: auto;
    }
</style>

<main>

<p style="color: green"><%= notice %></p>

  <div class="game-wrapper">
  <div class="game">
<%= render @game %>
  </div>
  </div>

  <br>

  <% if @current_user.nickname == @game.creator %>
    <%= link_to "Отредактировать игру", edit_game_path(@game), class: 'btn btn-warning' %> |
  <% end %>
  <%= link_to "Вернуться к списку игр", games_path, class: 'btn btn-warning'%>

  <br> <br>

  <% if @game.creator == @current_user.nickname %>
    <%= button_to "Удалить эту игру", @game, method: :delete, class: 'btn btn-danger' %>
  <% end %>

</main>
