<style>
    .post {
        background-color: #ADD8E6;
        width: 850px;
        height: 240px;
        margin: auto;
        border-radius: 10px;
    }

    .post-wrapper {
        height: fit-content;
        width: fit-content;
        margin: auto;
    }
</style>

<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post">
  <div class="post-wrapper">
  <div class="mb-3" style="margin: auto; width: 350px;">
    <%= form.label :title, 'Заголовок', style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="mb-3" style="margin: auto; width: 800px; height: fit-content; background-color: white">
    <%= form.label :body, 'Текст поста', style: "display: block" %>
    <%= form.rich_text_area :body %>
  </div>

  </div>
  </div>

  <br>

  <div>
    <% if action_name == 'edit' %>
      <%= form.submit 'Подтвердить изменения', class: 'btn btn-success' %>
    <% else %>
      <%= form.submit 'Создать пост', class: 'btn btn-success' %>
    <% end %>
  </div>
<% end %>
