<div id="<%= dom_id post %>">
  <div class="_post">
    <div style="display: grid; grid-template-columns: [avatar-start] 0 [post-start] 100px [avatar-end] 350px [post-end]; padding-top: 10px">
      <div style="grid-area: avatar">
        <% if User.find_by_id(post.user_id).avatar.attached? %>
          <%= image_tag User.find_by_id(post.user_id).avatar, size: "70" %>
        <% else %>
          <%= image_tag 'default_avatar.jpg', size: "70" %>
        <% end %>
      </div>
      <div style="grid-area: post">
        <p>
          <strong><%= t '.author' %>: </strong><%= User.find_by_id(post.user_id).nickname %>
        </p>
        <div class="title">
          <p>
            <h3><%= post.title %></h3>
          </p>
        </div>
      </div>
    </div>

    <hr>

    <div class="body">
      <p>
        <%= post.body %>
      </p>
    </div>
  </div>
</div>