<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

    main {
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
    }

    body {
        background: url(<%= image_path 'posts.png' %>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .post {
        background-color: #ADD8E6;
        width: 850px;
        margin: auto;
        border-radius: 10px;
        padding: 5px;
    }

    .post-wrapper {
        height: fit-content;
        width: fit-content;
        margin: auto;
    }

    body:after{
        display:none;
        content: url(<%= image_path 'posts.png' %>);
    }
</style>

<main>

<h1>Редактирование поста</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>

</main>