<%= stylesheet_link_tag "posts_common", media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag "posts_new_edit", media: "all", "data-turbolinks-track": "reload" %>

<main>
    <h1><%= t '.edit_t' %></h1>

    <% if @post.user_id == @current_user.id || @current_user.is_admin %>
        <%= render "form", post: @post %>
    <% else %>
        <div class="post">
          <div class="post-wrapper">
            <div class="alert-danger alert" style="margin: auto">
              <%= t '.warning' %>
            </div>
          </div>
        </div>
    <% end %>
  <br>

    <div>
      <%= link_to "#{ t '.show' }", @post, class: 'btn btn-info' %> |
      <%= link_to "#{ t '.posts' }", posts_path, class: 'btn btn-info' %>
    </div>
</main>