<%= stylesheet_link_tag "posts_common", media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag "posts_index", media: "all", "data-turbolinks-track": "reload" %>

<main>
  <div style="width: fit-content; margin: auto;">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert" style="width: fit-content">
      <%= value %>
    </div>
    <br>
  <% end %>
  </div>

  <h1>
    <%= t '.ind' %>
    <%= current_game.name %>
  </h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post-wrapper">
          <%= render post %>
        </div>
      </div>
      <div class="desc-section">
        <h5><%= link_to "#{ t '.show' }", post, class: 'btn btn-warning' %></h5>
        <h5><%= link_to "#{ t '.comments' }", comments_path + "?post=#{post.id}", class: 'btn btn-warning' %></h5>
      </div>
    <% end %>
  </div>

  <h5><%= link_to "#{ t '.new' }", new_post_path, class: 'btn btn-info' %></h5>
</main>