<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

    main {
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
    }

    .desc-section {
        display: flex;
        flex-direction: row;
        width: 500px;
        margin: 20px auto 50px auto;
    }

    .post {
        background-color: #ADD8E6;
        width: 500px;
        margin: auto;
        border-radius: 10px;
    }

    .post-wrapper {
        width: 450px;
        margin: auto;
    }

    body {
        background: url(<%= image_path 'posts.png' %>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    body:after{
        display:none;
        content: url(<%= image_path 'game_index.jpg' %>);
    }
</style>
<link rel="stylesheet" href="/app/assets/stylesheets/actiontext.css">

<main>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert" style="width: fit-content">
      <%= value %>
    </div>
    <br>
  <% end %>

  <h1>Публикации по игре <%= current_game.name %></h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post-wrapper">
          <%= render post %>
        </div>
      </div>
      <div class="desc-section">
        <h5><%= link_to "Посмотреть этот пост", post, style: 'color: #Ffa62b' %></h5>
        <h5 style="color: #Ffa62b; padding-left: 140px">Комментарии</h5>
      </div>
    <% end %>
  </div>

  <h5><%= link_to "Написать новый пост", new_post_path, style: 'color: #Ffa62b' %></h5>

</main>