<%= stylesheet_link_tag "posts_common", media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag "posts_new_edit", media: "all", "data-turbolinks-track": "reload" %>

<main>

  <h1><%= t '.title' %></h1>
      <%= render "form", post: @post %>
  <br>

  <div style="vertical-align: bottom;">
    <h5><%= link_to "#{ t '.posts' }", posts_path, class: 'btn btn-info' %></h5>
  </div>

</main>