<%= stylesheet_link_tag "posts_common", media: "all", "data-turbolinks-track": "reload" %>
<%= stylesheet_link_tag "posts_show", media: "all", "data-turbolinks-track": "reload" %>

<main>

  <div style="margin: auto; width: fit-content">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert" style="width: fit-content">
    <%= value %>
  </div>
  <br>
<% end %>
  </div>

  <div class="post" style="margin-top: 20px;">
    <div class="post-wrapper">
      <%= render @post %>
    </div>
  </div>

<div style="margin: auto; width: 500px">
  <h5>
    <% if @current_user.id == @post.user_id || @current_user.is_admin %>
      <%= link_to "#{ t '.edit' }", edit_post_path(@post), class: 'btn btn-warning' %> |
    <% end %>
    <%= link_to "#{ t '.posts' }", posts_path, class: 'btn btn-warning' %>
  </h5>

  <br>

  <% if @current_user.nickname == User.find_by_id(@post.user).nickname || @current_user.is_admin %>
    <%= button_to "#{ t '.delete' }", @post, method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>

</main>
