<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

    main {
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
    }

    body {
        background: url(<%= image_path 'posts.png' %>) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .post {
        background-color: #ADD8E6;
        width: 500px;
        margin: auto;
        border-radius: 10px;
    }

    .post-wrapper {
        width: 450px;
        margin: auto;
    }

    .body {
        width: 300px;
        margin: auto;
    }

    h5, h5>a {
        color: #Ffa62b;
    }

    body:after{
        display:none;
        content: url(<%= image_path 'game_index.jpg' %>);
    }
</style>

<main>

  <div style="margin: auto; width: fit-content">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert" style="width: fit-content">
    <%= value %>
  </div>
  <br>
<% end %>
  </div>

  <div class="post" style="margin-top: 20px;">
    <div class="post-wrapper">
      <%= render @post %>
    </div>
  </div>

<div>
  <h5>
    <% if @current_user.nickname == current_game.creator %>
      <%= link_to "Отредактировать пост", edit_post_path(@post) %> |
    <% end %>
    <%= link_to "Вернуться ко всем постам", posts_path %>
  </h5>

  <br>

  <% if @current_user.nickname == current_game.creator %>
    <%= button_to "Удалить пост", @post, method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>

</main>
